div {
    /* border: 1px dotted red; */
}

.jumbotron.splash {
    text-align: center;
}

h1 {
    display: none;
}

.fighter-select .fighter-card.player-card {
    border: 3px solid green;
}

.fighter-card .card-body {
    position: relative;
}

.fighter-card.dead {
    background-color: rgba(255,0,0,0.5);
}

.fighter-card.dead .cover.x {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-image: url(../img/red-x.png);
    background-color: rgba(255,0,0,0.5);
    background-size: contain;
    background-repeat: no-repeat;
}

.fighter-card.dead .card-header, .fighter-card.dead .card-footer {
    background-color: rgba(255,0,0,0.5);
}

.fighter-select .fighter-card:not(.dead):not(.player-card):hover {
    box-shadow: 8px 8px orange;
    border: 1px solid orange;
}

.fighter-card .stats {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 75px;
    flex-wrap: wrap;
}

.fighter-card .stats dt {
    align-self: flex-start;
    font-size: 10px;
    width: 33%;
}

.fighter-card .stats dd {
    font-size: 28px;
    align-self: flex-end;
    width: 33%;
}

.jumbotron.fight {
    height: 100%;
}

.vs {
    background-image: url(../img/vs.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    text-align: center;
}

.btn-attack {
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 100%;
    background-color: red;
    color: yellow;
    font-size: 48px;
    font-family: "Ceviche One";
}

.btn-next {
    position: absolute;
    bottom: 50px;
    left: 0px;
    width: 100%;
    background-color: green;
    color: white;
    font-size: 48px;
    font-family: "Ceviche One";
}

.win {

}

.lose {
    color: red;
    font-family: "Ceviche One";
    font-size: 100px;
    width: 200%;
    z-index: 10;
    position: absolute;
    left: -50%;
    top: 40%;
    -webkit-text-stroke: 5px yellow;
}

.win {
    color: green;
    font-family: "Ceviche One";
    font-size: 100px;
    width: 200%;
    z-index: 10;
    position: absolute;
    left: -50%;
    top: 40%;
    -webkit-text-stroke: 3px greenyellow;
}